<%- include css.ejs %>

<body>
  <h1 align='center'> <font color='white'> <%= name%> </font> </h1>

  <div class="container">
    <a href="/" class="button">Home</a>
    <br>
    <br>

    <table class="table">
      <% Object.keys(json).forEach(function(key) { %>
        <tr>
          <th><%= key%></th>
          <td><%= json[key] %></td>
        </tr>
      <% }); %>
    </table>

  </div>
  </body>
