<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
  body {
      background-color: black;
      background: url(r2d2.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .button {
    display: block;
    width: 115px;
    height: 25px;
    line-height: 5px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

</style>

<body>

  <h1 align='center'> <font color='white'> Star Wars API </font> </h1>

  <div class="container">
    <br>
    <br>
    <a href="/characters" class="button">Characters</a>
    <br>
    <br>
    <a href="/characters/luke" class="button">Luke</a>
    <br>
    <a href="/characters/han" class="button">Han</a>
    <br>
    <a href="/characters/leia" class="button">Leia</a>
    <br>
    <a href="/characters/rey" class="button">Rey</a>
    <br>
    <br>
    <a href="/planetResidents" class="button">Planets</a>


  </div>
</body>
