<%- include css.ejs %>

<body>
  <h1 align='center'> <font color='white'> Planets </font> </h1>

  <div class="container">
    <a href="/" class="button">Home</a>
    <br>
    <br>
    <%= json %>
  </div>
</body>

<%- include footer.ejs %>
